<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MobilesAdd</servlet-name>
  	<display-name>MobilesAdd</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.MobilesAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>edit_mobileservlet</servlet-name>
  	<display-name>edit_mobileservlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.edit_mobileservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cartServlet</servlet-name>
  	<display-name>cartServlet</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.cartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removeMobile</servlet-name>
  	<display-name>removeMobile</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.removeMobile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddOldMobile</servlet-name>
  	<display-name>AddOldMobile</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.AddOldMobile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteOldMobile</servlet-name>
  	<display-name>deleteOldMobile</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.deleteOldMobile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateProfileServlet</servlet-name>
  	<display-name>updateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.updateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>orderServlet</servlet-name>
  	<display-name>orderServlet</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.orderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchMobile</servlet-name>
  	<display-name>searchMobile</display-name>
  	<description></description>
  	<servlet-class>com.user_servlet.searchMobile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mobilesDeleteServlet</servlet-name>
  	<display-name>mobilesDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.mobilesDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MobilesAdd</servlet-name>
  	<url-pattern>/MobilesAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>edit_mobileservlet</servlet-name>
  	<url-pattern>/edit_mobileservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cartServlet</servlet-name>
  	<url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removeMobile</servlet-name>
  	<url-pattern>/removeMobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddOldMobile</servlet-name>
  	<url-pattern>/AddOldMobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteOldMobile</servlet-name>
  	<url-pattern>/deleteOldMobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateProfileServlet</servlet-name>
  	<url-pattern>/updateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>orderServlet</servlet-name>
  	<url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchMobile</servlet-name>
  	<url-pattern>/searchMobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mobilesDeleteServlet</servlet-name>
  	<url-pattern>/mobilesDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>
